body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
#arena {
  width: 400px;
  height: 300px;
  border: 3px double orange;
  background-color: antiquewhite;
  position: absolute;
  top: 0px;
  left: 10px;
  overflow: hidden;
}
#arena.skyline {
  background-image: url(../images/skyline.png);
}
#arena.castle {
  background-image: url(../images/castelo.png);
}
#help {
  width: 200px;
  height: 490px;
  position: absolute;
  background-color: #fff;
  border: 2px solid #ddd;
  top: 0px;
  left: 420px;
  overflow: scroll;
}
#help h2 {
  font-size: 12pt;
  padding: 0px 0px 0px 15px;
  margin: 0px;
  border: 0px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}
#help p {
  padding: 0px;
  margin: 0px 0px 10px 0px;;
}
#control {
  width: 400px;
  background-color: gray;
  border: 2px solid orange;
  position: absolute;
  top: 310px;
  left: 10px;
}
#history {
  height: 160px;
  color: #fff;
  background-image: url(../images/darkeditor.png);
  text-align: left;
  margin: 0px;
  font-family: monospace;
  list-style: none;
  padding: 0px 5px 0px 5px;
}
#command {
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: monospace;
  font-weight: bold;
  background-image: url(../images/darkeditor.png);
  color: #ff0;
}
.fired,
.ball,
.rect,
.sprite {
  position: absolute;  
  top: -400px;
  left: -400px;
  background-color: #00f;
}
.ball,
.fired {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
}
.rect {
  width: 50px;
  height: 50px;
}
.sprite {
  width: 50px;
  height: 50px;
  background-color: transparent;
}
.info,
.congratulation {
  width:600px;/* real: 630 */
  height: 380px; /* real: 500 */
  display: block;
  z-index: 100;
  position: absolute;
  top: 0px;
  left: 0px; 
  margin-left: 0px;
  padding: 100px 15px 20px 15px;
  font-size: 16pt;
  font-family: monospace;
  font-weight: bold;
}
.info {
  background-color: blue;
  color: blue;
  text-align: left;
}
.congratulation {
  background-color: green;
  color: white;
  text-align: center;
  margin-top: -630px;
}
#intro {
  background-color: #0000FF;
}
#win {
  background-color: #2A7E2A;
  color: #ffffff;
  z-index: 120;
  margin-top: -630px;
}
